<h1>Категории статей</h1><br/>

<form method="post" action="/admin/categories/add/" style="width: 900px;">
    <input type="text" name="category_name" value="" class="form-control"  style="width: 500px; display: inline-block;" />
    <input type="submit" class="btn btn-success" value="Добавить категорию"  style=" display: inline-block;" />
</form>

<br/>
<?php   ?>
<p>Код категории и ее название:</p>
<table  id="categories" class="table table-default" style="width: 100%;background: #fff;">
    <tr  id="category_base" data_parent_id=""  class="category" style="display: none; width: 100%; "  >
        <td class="categ_id"  style="vertical-align:middle; width: 5%; "></td>
        <td class="categ_text"  style="vertical-align:middle; width: 900px; "></td>
        <td align="right"  style="vertical-align:middle; width: 35%; ">
            <button class="categ_add_subcat  btn btn-sm btn-default">добавить подкатегорию</button>
            <button class="categ_edit  btn btn-sm btn-default">редактировать</button>
            <button class="categ_delete  btn btn-sm btn-default">удалить</button>
            <div class="categ_window"  style=" display: none; position: fixed; left: 30%; top: 40%; width: 40%; padding: 30px; background-color: rgba(0,0,0,0.3); text-align: left; border-radius: 10px ; ">
                <input type="text" value=""  class="categ_input"  style="width: 100%; padding:5px; ">
                <button class="categ_send_subcat  btn btn-sm btn-default">сохранить</button>
                <button class="categ_close_window  btn btn-sm btn-default">отмена</button>
            </div>
        </td>
    </tr>
</table>


<script>

    document.addEventListener("DOMContentLoaded", categoriesGet);

    function categoriesGet() {

        $categories_wrapp = $('#categories');
        $category_base_element = $('#category_base');

        var data = {};
        var uri = '/admin/categories/categories_get_ajax/';
        myAjax(uri, data, categoriesReturn, categoriesReturnErr);

        function categoriesReturn(data) {
            if (data) {
                $('tr[data_base_element="no_base_element"]').remove();
            }

            var categories = JSON.parse(data);
            var categoriesLength = categories.length;

            for (i = 0; i < categoriesLength; i++) {

                $row = categories[i];

                $categ_clone = $category_base_element.clone();

                $categ_clone.attr('data_base_element', 'no_base_element');
                $categ_clone.css('display', 'block');
                $categ_clone.find('.categ_text').css('padding-left', 30 * $row['nested_level'] + 'px');
                $categ_clone.attr('id', $row['id']);
                $categ_clone.attr('data_parent_id', $row['parent_id']);
                $categ_clone.find('.categ_id').text($row['id']);
                $categ_clone.find('.categ_text').text($row['category_name']);

                $categories_wrapp.append($categ_clone);
            }

            $('.category .categ_add_subcat').on('click', function () {
                $this_row = $(this).parent().parent();
                $this_row.find('.categ_window').css('display', 'block');
            });

            $('.category .categ_close_window').on('click', function () {
                $this_row = $(this).parent().parent().parent();
                $this_row.find('.categ_window').css('display', 'none');
            });

            $('.category .categ_send_subcat').on('click', function () {
                $this_row = $(this).parent().parent().parent();
                var parent_id = $this_row.attr('id');
                var id = $this_row.find('.categ_input').attr('id');
                if (!id) {id = null}
                var text = $this_row.find('.categ_input').val();
                $this_row.find('.categ_input').val('');
                text = text.trim();



                if (text != '') {
                    var data = {
                        'category_name': text,
                        'parent_id': parent_id,
                        'id': id
                    };

                    var uri = '/admin/categories/category_add_ajax/';
                    myAjax(uri, data, categoriesReturn, categoriesReturnErr);
                }

            });


            $('.category .categ_edit').on('click', function () {
                $this_row = $(this).parent().parent();
                $this_row.find('.categ_window').css('display', 'block');
                var text = $this_row.find('.categ_text').text();
                $this_row.find('.categ_input').val(text);
                var id = $this_row.attr('id');
                $this_row.find('.categ_input').attr('id', id);
            });

            $('.category .categ_delete').on('click', function () {
                if (confirmDelete()) {
                    $this_row = $(this).parent().parent();
                    var id = $this_row.attr('id');
                    var uri = '/admin/categories/category_delete_ajax/' + id + '/';

                    myAjax(uri, data, categoriesReturn, categoriesReturnErr);
                }
            });

        }

        function categoriesReturnErr() {
            alert('Error');
        }

    }
</script>







